<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         defaultTestSuite="unit">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests</directory>
            <exclude>tests/Usage</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">tests/Usage</directory>
            <exclude>tests/Usage/symfony</exclude>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    
    <php>
        <env name="MYSQL_HOST" value="mysql" />
        <env name="MYSQL_DATABASE" value="dqo" />
        <env name="MYSQL_USER" value="test" />
        <env name="MYSQL_PASSWORD" value="" />
        <env name="POSTGRES_HOST" value="mysql" />
        <env name="POSTGRES_DATABASE" value="dqo" />
        <env name="POSTGRES_USER" value="test" />
        <env name="POSTGRES_PASSWORD" value="" />
    </php>
</phpunit>
