
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/repo/
composer.lock
symfony.lock
/src/ClientRow.php
/src/UserTable.php
/src/UserRow.php
